<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars_data</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div clas="container">
    <div class="jumbotron text-center">
      <h1>Mars news</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Mars_news</a></p>
    </div>
      
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h3>Latest Mars news from Nasa</h3>
          <h5>{{ mars_data.news_title}}</h5>
            <p>{{ mars_data.news_para}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h3>Featured Mars image</h3>
          <img src={{mars_data.img_link}} class="img-responsive" alt="Mars image">
      </div>
    </div>
  </div>

</body>
</html>